
.menuHeader ul{
    list-style: none;
}

.menuHeader > div > ul> li > ul{
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    display: none;
    border: 1px solid #cecece
}

.menuHeader > div > ul > li:hover ul{
    display: block;
}

.menuHeader > div > ul > li> ul > li {
    margin: 0 50px;
    float: left;
    min-width: 150px;   
  

}


.menuHeader > div > ul> li > ul > li > a {
    font-weight: bold;
    display: block;
}

.menuHeader > div > ul> li > ul > li  a{
    padding:3px 0;
    display: block;
    font-size:12;
    text-decoration: none;
}